[Unit]
Description=Turn off/on screen using GPIO

[Service]
ExecStart=/usr/.env./bin/python /usr/volumioschreen/screen.py

[Install]
WantedBy=multi-user.target