[Unit]
Description=Turn off/on screen using GPIO

[Service]
ExecStart=/home/admin/volumioschreen/.venv/bin/python /home/admin/volumioschreen/screen.py

[Install]
WantedBy=multi-user.target